[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
setuptools = "*"
wheel = "*"
sqlalchemy = {extras = ["asyncio"], version = "*"}
aioodbc = "*"
python-dotenv = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
build = "*"
twine = "*"

[requires]
python_version = "3.8"
